<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ConnectionStringsConfig" type="TourPlannerDL.CustomConfigLoader, TourPlannerDL" />
		<!--type="namespace.class, assembly"-->
	</configSections>
	<connectionStrings>
		<add name="ConnectionStringConfig" connectionString="Host=localhost;Username=postgres;Password=wordpass;Database=TourPlanner;Port=5432" />
	</connectionStrings>
	<appSettings>
		<add key="MapQuestKey" value="V5j8RGvth4UydnpUgMg2RYyVNpE12fJy"/>
	</appSettings>
</configuration>
